# -*- coding: utf-8 -*-
# vim: ft=jinja

{# This is a barebones map.jinja file #}
{# We import default values that are then merged with pillar data #}

{# Imports defaults #}
{% import_yaml "vrsa_dev/update_google_chrome/chrome/defaults.yaml" as defaults %}

{# Merge in vasypd:lookup pillar #}
{% set chrome_settings = salt['pillar.get']('banner:lookup', default=defaults.chrome, merge=True) %}
